@import 'src/sass/main.scss';

.blog-card {
  width: 100%;
  display: inline-block;
  margin-bottom: 2rem;
  overflow: hidden;
  border-radius: $br-default;
  transition: all 0.3s;

  &:hover {
    transform: scale(1.05);
  }

  &__thumbnail {
    width: 100%;
  }

  &__info {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    padding: 0.5rem 0;
  }

  &__title {
    color: $light;
    font-size: 2rem;
    margin-bottom: 1rem;
  }
  &__date {
    color: $secondary;
    font-size: 1.5rem;
    margin: 1rem 0;
  }

  &__readmore {
    color: $primary;
    font-size: 1.5rem;
    margin-right: 2rem;
  }
}
