@import './variables';
@import './animations';

.paragraph {
  font-weight: 200;
	color: $secondary;
	font-size: 1.8rem;
	line-height: 3rem;

	&-justify {
		text-align: justify;
		margin: 0rem 2rem;
	}
}
.paragraph-justify {
  font-weight: 300;
	color: $secondary;
	font-size: 1.8rem;
	line-height: 3rem;
	text-align: justify;
	margin: -0.5rem 1.5rem 0rem 1.5rem;
}

h1 {
	color: $primary;
	margin: 0rem 0 1.5rem 0;
  font-weight: 600 !important;

	& > span {
		color: $light;
	}

	&.primary {
		font-size: 5rem;
    font-weight: normal;
	}

	&.secondary {
		font-size: 3rem;
    font-weight: normal;
	}
}
