@import 'src/sass/main.scss';

.form {
  display: flex;
  flex-direction: column;

  & > h1 {
    margin-top: 0 !important;
  }

  &__group {
    position: relative;
    margin-bottom: 1.5rem;
    & > label {
      position: absolute;
      font-size: 1.3rem;
      top: -3rem;
      left: 0;
      color: $secondary;
      background-color: transparent;
      padding: 0.3rem 0;
      transition: all 0.5s;
    }

    &:first-of-type {
      margin-top: 2rem;
    }
  }

  &__input,
  &__input-ta {
    width: 100%;
    border: none;
    padding: 1.5rem;
    font-size: 1.5rem;
    margin-bottom: 3rem;
    background-color: $gray-dark;
    border: 1px solid $gray;
    border-radius: $br-default;
    color: $secondary;
    transition: all 0.5s;
    outline: none;

    &:focus {
      border: 1px solid $primary;
    }
    &:focus + label {
      color: $primary;
    }
    &:focus:invalid {
      border: 1px solid $danger;
    }

    &:focus:invalid + label {
      color: $danger;
    }

    &:invalid + label {
      color: $secondary;
    }
    &:invalid {
      border: 1px solid $gray;
    }

    &:focus:-webkit-autofill {
      background-color: $dark !important;
    }
  }

  &__input-ta {
    height: 10rem;
    resize: none;
    transition: all 0.5s;
    margin-bottom: 2rem;
  }
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 600px rgba($gray-dark, 1) inset !important;
  -webkit-text-fill-color: $light !important;
  box-shadow: 0 0 0 600px rgba($gray-dark, 1) inset !important;
}
