.section {
  display: flex;
  flex-direction: column;
  margin: 6rem 2rem !important;
  justify-content: center;
  align-items: center;
  animation: moveToLeftWithOpacity 0.8s;

  &-content {
    display: flex;
  }
}
