@import 'src/sass/main.scss';

.landing-home {
  flex: 1;
  background-color: rgba($gray-dark, 1);
  z-index: 0;
  animation: moveInBottom 0.8s;

  position: relative;
}

.welcome-message {
  width: 100%;
  height: 100%;
  z-index: -1;
  padding: 2rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  animation: fadeOut ease-in-out 0.8s;
  position: relative;
  z-index: 1;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-color: #00000071;
  }

  & > h1 {
    max-width: 30ch;
    text-align: center !important;
    line-height: 1;
  }

  @media only screen and (max-width: $bp-m) {
    & > h1 > span {
      display: block;
    }
  }

  &__secondary {
    text-align: center;
    border-spacing: 0.5rem;
    padding: 0 2rem 2rem;

    & > p {
      color: #ffffff;
      max-width: 90ch;
    }
  }
}

.social {
  color: $light;

  display: flex;
  list-style: none;

  &-item {
    padding: 0.5rem 1rem;

    &__content {
      border-radius: $br-2;
      border: 2px solid $light;
      padding: 1rem;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: all 0.3s;
    }

    &__icon {
      width: 2rem;
      height: 2rem;
      color: $light;
      transition: all 0.3s;
    }

    &:hover > &__content {
      border: 2px solid $primary;
    }

    &:hover > &__content > &__icon {
      color: $primary;
      transform: scale(1.1);
    }
  }
}
